body{
font-family:Arial;
margin:0;
background:#f3f4f6;
}

.hidden{
display:none;
}

/* LOGIN */

.login-container{
width:380px;
margin:80px auto;
background:white;
padding:35px;
border-radius:10px;
box-shadow:0 5px 20px rgba(0,0,0,0.1);
}

.logo{
width:70px;
display:block;
margin:auto;
}

.login-container h2{
text-align:center;
}

.subtitle{
text-align:center;
color:#777;
}

.login-container input{
width:100%;
padding:10px;
border:1px solid #ddd;
border-radius:5px;
margin-top:5px;
}

.default{
color:purple;
font-size:12px;
}

.login-btn{
width:100%;
padding:12px;
margin-top:10px;
border:none;
border-radius:6px;
color:white;
font-weight:bold;
cursor:pointer;
background:linear-gradient(90deg,#6a11cb,#8e2de2);
}

.divider{
text-align:center;
margin:20px 0;
}

.demo-box{
background:#f5f5f5;
padding:15px;
border-radius:6px;
text-align:center;
}

/* NAVBAR */

.navbar{
display:flex;
justify-content:space-between;
align-items:center;
background:white;
padding:15px 40px;
box-shadow:0 2px 10px rgba(0,0,0,0.05);
}

.nav-left{
display:flex;
align-items:center;
gap:10px;
}

.nav-left img{
width:30px;
}

.nav-right{
display:flex;
gap:10px;
}

.nav-right input{
padding:8px;
border:1px solid #ddd;
border-radius:6px;
}

.new-btn{
background:linear-gradient(90deg,#6a11cb,#8e2de2);
border:none;
color:white;
padding:8px 14px;
border-radius:6px;
cursor:pointer;
}

/* MAIN WRAPPER */

.main-wrapper{
max-width:1200px;
margin:auto;
margin-top:30px;
}

/* TABS */

.tabs{
background:white;
padding:15px;
border-radius:8px;
margin-bottom:15px;
}

.tab{
padding:8px 18px;
border:1px solid #ddd;
border-radius:6px;
background:white;
cursor:pointer;
}

.tab.active{
background:#6a11cb;
color:white;
border:none;
}

/* ISSUE HEADER */

.issue-header{
background:white;
display:flex;
justify-content:space-between;
padding:15px;
border-radius:8px;
margin-bottom:20px;
}

.issue-left{
display:flex;
gap:10px;
}

.issue-icon{
background:#ede9fe;
padding:10px;
border-radius:50%;
}

.dot{
height:10px;
width:10px;
display:inline-block;
border-radius:50%;
margin-left:10px;
}

.open-dot{
background:green;
}

.closed-dot{
background:purple;
}

/* GRID */

.grid{
display:grid;
grid-template-columns:repeat(4,1fr);
gap:20px;
}

/* CARD */

.card{
background:white;
padding:15px;
border-radius:8px;
box-shadow:0 2px 8px rgba(0,0,0,0.05);
cursor:pointer;
}

.open-border{
border-top:4px solid green;
}

.closed-border{
border-top:4px solid purple;
}

/* CARD TOP */

.card-top{
display:flex;
justify-content:space-between;
align-items:center;
margin-bottom:10px;
}

.status-icon{
width:24px;
height:24px;
border-radius:50%;
display:flex;
align-items:center;
justify-content:center;
font-size:12px;
}

.open-icon{
background:#dcfce7;
color:green;
}

.closed-icon{
background:#ede9fe;
color:purple;
}

.priority{
padding:4px 10px;
border-radius:15px;
font-size:12px;
font-weight:bold;
}

.priority.high{
background:#fee2e2;
color:red;
}

.priority.medium{
background:#fef3c7;
color:#f59e0b;
}

.priority.low{
background:#e5e7eb;
color:#6b7280;
}

.desc{
color:#6b7280;
font-size:14px;
margin-bottom:10px;
}

.hidden{
display:none;
}

.labels{
display:flex;
gap:6px;
margin-top:10px;
flex-wrap:wrap;
}

.label{
font-size:12px;
padding:4px 10px;
border-radius:12px;
text-transform: uppercase;
display:flex;
align-items:center;
gap:4px;
}

.label.bug{
background:#fee2e2;
color:red;
}

.label.help{
background:#fef3c7;
color:#f59e0b;
}

.card-footer{
border-top:1px solid #eee;
padding-top:8px;
font-size:12px;
color:#6b7280;
}

/* MODAL */

.modal{
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
background:rgba(0,0,0,0.5);
display:flex;
justify-content:center;
align-items:center;
}

.modal.hidden{
display:none;
}

.modal-content{
background:white;
padding:20px;
border-radius:10px;
width:400px;
}

/* RESPONSIVE */

@media(max-width:900px){
.grid{
grid-template-columns:repeat(2,1fr);
}
}

@media(max-width:500px){

.grid{
grid-template-columns:1fr;
}

.navbar{
flex-direction:column;
gap:10px;
}

}